* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout classes */
header {
    background-color: #FF6800;
    position: fixed;
    z-index: 1;
    width: 100%;
}

main {
    padding-top: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: calc(100% / 3);
    padding: 10px 0;
}

.col-left {
    width: 50%;

}

.col-right {
    width: 50%;
}

#logo {
    width: 150px;
}

.content {
    margin: 15px;
    position: relative;
}

.content img {
    width: 100%;
}

/* Style classes */
.flex-nostyle {
    display: flex;
    list-style: none;
}

.nostyle {
    list-style: none;
}

li {
    padding-right: 10px;
}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
    justify-content: flex-end;

}

.white-font {
    color: #fff;
}

i {
    padding-right: 10px;
}

img {
    width: 100%;
}

.favorite {
    font-size: 30px;
    padding: 0 10px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}

.favorite:hover {
    color: red;
}

.label {
    position: absolute;
    bottom: 100px;
    padding: 5px 10px;
}

.bg-red {
    background-color: #FF0000;
    left: 0;
}

.bg-green {
    background-color: #008000;
    left: 60px;
}

.no-left {
    left: 0;
}

.visible-image {
    display: block;
}

.hidden-image {
    display: none;
}

.content:hover .visible-image {
    display: none;
}

.content:hover .hidden-image {
    display: block;
}

.red-text {
    color: red;
    padding-right: 5px;
}

footer {
    background-color: #1A1A1A;
}

h3 {
    margin-bottom: 10px;
}

.align-center {
    display: flex;
    align-items: center;
}